__pycache__
*/__pycache__
**/__pycache__
.vscode
.vector_cache
*/.vector_cache
**/.vector_cache
vector_cache
*/vector_cache
**/vector_cache
.vectors
.slurm

# Some stuff that appers with singularity on Grid5000
.nv
etc
run
usr

symbolic_baseline/*/*.csv
*.pth

*.gz
*.sif
*.zip

# Results folders
logs
models
results

unittesting/vect

*.bkp*
*.bkp

sigmorphon2016
sigmorphon2019